.contenedor {
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/rick-y-morty-1643633509.jpeg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
}

.card {
    width: 60%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://i.redd.it/x498howiltl71.gif');
    margin-top: 20px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    filter: drop-shadow(9px 37px 38px #000);
    filter: saturate(0%);
    transition: filter 0.5s ease-in-out;

}

.card:hover {
    filter: none;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.text {
    font-family: 'Tourney';
    font-size: 50px;
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;


}

.card img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-right: 20px;
    filter: drop-shadow(9px 37px 38px #000);
}

.cardInfo {
    flex: 1;
}

.cardInfo h2 {
    color: black;
    padding: 10px;
    margin: 0;

}