.contenedor {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    background-image: url('https://i.redd.it/x498howiltl71.gif');
    padding: 20px;
    margin-left: 30px;
    margin-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    margin: 10px;
}


.miImagen {
    width: 250px;
    height: 250px;
    filter: drop-shadow(18px 19px 23px #000);
    filter: saturate(0%);
    transition: filter 0.5s ease-in-out;
    border-radius: 50%;
    margin-right: 20px;
}

.miImagen:hover {
    filter: none;
}

.botonx {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #3c3c3c;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}

.botonx:hover {
    background-color: #ffffff;
    color: #3c3c3c;
    transition: all 0.3s ease-in-out;
}



.nombreDePersonaje {
    position: absolute;
    font-weight: bold;
    font-size: 2.0rem;
    text-decoration: none;
    z-index: 9;
    margin-top: 220px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 5px;
    border-radius: 20%;
}