* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(https://i.pinimg.com/originals/46/f3/2a/46f32a1b55bc383e558ca1c798b051fa.jpg);
  text-align: center;
}