.navegar {
    background-color: #333;
    height: 50px;
    display: flex;
    border-radius: 100px;
    opacity: 0.9;

}

.derecha {
    margin-right: 800px;
}

.botones {
    margin-left: 10px;
    justify-content: space-around;
}

.botones button {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.botones button:hover {
    background-color: #333;
    color: #fff;
}